*{
	box-sizing: border-box;
}
.jumbotron{
	text-align: center;
	color: green !important;
	background-color: black !important;
	opacity: 0.8 !important;
	position: relative;
}
h1{
	font-size: 75px !important;
}
button{
	font-size: 75px !important;
}
#imgChange{
	width: 100%;
	height: auto;
	border-radius: 10px;
}
#titleID{
	display: inline;
	background-color: black !important;
	color: white !important;
	font-size: 30px;
}
body{
	padding: 10px;
	background-image: url("../images/spaceflight.gif");
	background-size: cover;
	font-family: 'VT323', monospace !important;
}
.row{
	margin: 15px;
	padding: 15px;
	opacity: 0.8 !important;	
}
/*p{
	width: 100%;
}*/
#word{
	text-align: center;
}
#game, #word, #guessed {
	color: white;
	font-size: 24px;
}
#game{
	background-color: black;
	padding: 10px;
	width: 33%;
}

#guessed {
	background-color: black;
	padding: 10px;
	width: 33%;	
}

#word{
	background-color: black;
	padding: 10px;
}
/*#mainImage{
	height: 100px;
	width: auto;
	position: absolute;
	top: 70px;
    left: 110px;
	border-radius: 10px;    
}
#mainImage2{
	height: 100px;
	width: auto;
	position: absolute;
	top: 70px;
    right: 110px;
	border-radius: 10px;    
}*/
div{
	border-radius: 10px;
}